version: '3.8'

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./backend/data:/app/data
    depends_on:
      - task_queue
      - worker
    networks:
      - app-network

  task_queue:
    image: "redis/redis-stack:latest"
    ports:
      - 127.0.0.1:6379:6379
    networks:
      - app-network

  worker:
    build: ./backend
    command: celery -A src.celery_broker worker --loglevel=info
    volumes:
      - ./backend/data:/app/data
    depends_on:
      - task_queue
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    
    ports:
      - "3000:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
